<%-include('../cabecalho.ejs')%>
<section class="col-12 col-md-10">
    <div class="card my-4">
        <h5 class="card-header">Editar Medicamento</h5>
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" name="id" readonly id="id" class="form-control" value="<%=Medicamento._id%>">
                </div>
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" name="nome" id="nome" required class="form-control" value="<%=Medicamento.nome%>">
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea name="descricao" id="descricao" class="form-control"><%=Medicamento.descricao%></textarea>
                </div>
                <div class="mb-3">
                    <label for="dosagem" class="form-label">Dosagem</label>
                    <input type="text" name="dosagem" id="dosagem" class="form-control" value="<%=Medicamento.dosagem%>">
                </div>
                <div class="mb-3">
                    <label for="via" class="form-label">Via</label>
                    <input type="text" name="via" id="via" class="form-control" value="<%=Medicamento.via%>">
                </div>
                <div class="mb-3">
                    <label for="fabricante" class="form-label">Fabricante</label>
                    <input type="text" name="fabricante" id="fabricante" class="form-control" value="<%=Medicamento.fabricante%>">
                </div>
                <div class="mb-3">
                    <input type="submit" value="Salvar" class="form-control">
                </div>
            </form>
        </div>
    </div>
</section>
<%-include('../rodape.ejs')%>
